# {{ ansible_managed }}

[Unit]
Description=netflow capture daemon
After=network.target auditd.service

[Service]
Type=simple
ExecStart=/usr/bin/nfcapd -l "{{ item['flows_dir'] }}" -p "{{ item['listen_port'] }}" -t "{{ item['rotate_interval'] | default( netflow_dumper_rotate_interval ) }}" -S "{{ item['flows_dir_hierarchy'] | default( netflow_dumper_nfdump_flows_dir_hierarchy ) }}"
#PIDFile=/var/run/nfcapd.pid
#KillMode=process
#Restart=no

[Install]
WantedBy=multi-user.target
