# {{ ansible_managed }}

[Unit]
Description=netflow capture daemon
After=network.target auditd.service

[Service]
Type=simple
ExecStart=/usr/bin/flow-capture -D -w "{{ item['flows_dir'] }}"
{%- if item['flow_tools_compression'] | default(netflow_dumper_flow_tools_compression) | default(None) %} -z {{ netflow_dumper_flow_tools_compression }}{% endif %}
{{- " 127.0.0.1/127.0.0.1/" ~ item['listen_port'] }}
{%- if item['flow_tools_expire_size'] | default(netflow_dumper_flow_tools_expire_size) | default(None) %} -E {{ item['flow_tools_expire_size'] | default(netflow_dumper_flow_tools_expire_size) }}{% endif %}
{%- if item['flow_tools_subdir_hierarchy'] | default(netflow_dumper_flow_tools_subdir_hierarchy) | default(None) %} -N {{ item['flow_tools_subdir_hierarchy'] | default(netflow_dumper_flow_tools_subdir_hierarchy) }}{% endif %}

[Install]
WantedBy=multi-user.target
